:root {}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-image: url(../img/texture.jpg);
  background-size: contain;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

nav {
  float: right;
  margin-top: 20px;
}

nav a {
  color: blue;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
}

nav a:hover {
  background-color: yellow;
  color: blue;
  font-size: 20px;
  font-weight: 700;
}

main {
  margin: 0 auto;
  width: 800px;
}

section {
  padding: 20px;
}

h2 {
  font-size: 20px;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* Колірна гама */

.primary-color {
  color: #000000;
}

.secondary-color {
  color: #ffffff;
}

.accent-color {
  color: #ff0000;
}

.math-color {
  color: #0000ff;
}