:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --accent-color: #ffff00;
  --math-color: #0000ff;
  --bg-color: #333;

}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-image: url(../img/texture.jpg);
  background-size: contain;
}

header {
  background-color: var(--bg-color);
  color: var(--secondary-color);
  padding: 20px;
}

nav {
  float: right;
  margin-top: 20px;
}

nav a {
  color: var(--math-color);
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
}

nav a:hover {
  background-color: var(--accent-color);
  color: var(--math-color);
  font-size: 20px;
  font-weight: 700;
}

main {
  margin: 0 auto;
  width: 800px;
}

section {
  padding: 40px;
}

h2 {
  font-size: 20px;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: var(--bg-color);
  color: var(--secondary-color);
  padding: 20px;
  text-align: center;
}